## Data Cleaning

Decide how to impute null values.
Decide how to handle outliers.
Do you want to combine any features?
Do you want to have interaction terms?
Do you want to manually drop collinear features?

In [17]:
#Imports
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# new ones!
from sklearn.linear_model import LinearRegression
from sklearn import metrics

In [18]:
#Read Data 
ames_train = pd.read_csv('datasets/train.csv')
ames_test = pd.read_csv('datasets/test.csv')

In [19]:
ames_train.head()

,Id,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Lot Shape,Land Contour,Utilities,...,Screen Porch,Pool Area,Misc Val,Mo Sold,Yr Sold,Sale Type,SalePrice,Total_Full_Bath,Square Footage,Total Bedrooms
0,109,533352170,60,RL,NaN,13517,Pave,IR1,Lvl,AllPub,...,0,0,0,3,2010,WD,130500,3.0,2204.0,9
1,544,531379050,60,RL,43.0,11492,Pave,IR1,Lvl,AllPub,...,0,0,0,4,2009,WD,220000,4.0,3035.0,12
2,153,535304180,20,RL,68.0,7922,Pave,Reg,Lvl,AllPub,...,0,0,0,1,2010,WD,109000,2.0,2114.0,8
3,318,916386060,60,RL,73.0,9802,Pave,Reg,Lvl,AllPub,...,0,0,0,4,2010,WD,174000,3.0,1828.0,10
4,255,906425045,50,RL,82.0,14235,Pave,IR1,Lvl,AllPub,...,0,0,0,3,2010,WD,138500,2.0,2121.0,9

In [20]:
ames_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2049 entries, 0 to 2048
Data columns (total 80 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Id               2049 non-null   int64
 1   PID              2049 non-null   int64
 2   MS SubClass      2049 non-null   int64
 3   MS Zoning        2049 non-null   object
 4   Lot Frontage     1719 non-null   float64
 5   Lot Area         2049 non-null   int64
 6   Street           2049 non-null   object
 7   Lot Shape        2049 non-null   object
 8   Land Contour     2049 non-null   object
 9   Utilities        2049 non-null   object
 10  Lot Config       2049 non-null   object
 11  Land Slope       2049 non-null   object
 12  Neighborhood     2049 non-null   object
 13  Condition 1      2049 non-null   object
 14  Condition 2      2049 non-null   object
 15  Bldg Type        2049 non-null   object
 16  House Style      2049 non-null   object
 17  Overall Qual     2049 non-null   int64
 18  Overall Cond     2049 non-null   int64
 19  Year Built       2049 non-null   int64
 20  Year Remod/Add   2049 non-null   int64
 21  Roof Style       2049 non-null   object
 22  Roof Matl        2049 non-null   object
 23  Exterior 1st     2049 non-null   object
 24  Exterior 2nd     2049 non-null   object
 25  Mas Vnr Type     2027 non-null   object
 26  Mas Vnr Area     2027 non-null   float64
 27  Exter Qual       2049 non-null   object
 28  Exter Cond       2049 non-null   object
 29  Foundation       2049 non-null   object
 30  Bsmt Qual        1995 non-null   object
 31  Bsmt Cond        1995 non-null   object
 32  Bsmt Exposure    1992 non-null   object
 33  BsmtFin Type 1   1995 non-null   object
 34  BsmtFin SF 1     2049 non-null   float64
 35  BsmtFin Type 2   1994 non-null   object
 36  BsmtFin SF 2     2049 non-null   float64
 37  Bsmt Unf SF      2049 non-null   float64
 38  Total Bsmt SF    2049 non-null   float64
 39  Heating          2049 non-null   object
 40  Heating QC       2049 non-null   object
 41  Central Air      2049 non-null   object
 42  Electrical       2049 non-null   object
 43  1st Flr SF       2049 non-null   int64
 44  2nd Flr SF       2049 non-null   int64
 45  Low Qual Fin SF  2049 non-null   int64
 46  Gr Liv Area      2049 non-null   int64
 47  Bsmt Full Bath   2048 non-null   float64
 48  Bsmt Half Bath   2048 non-null   float64
 49  Full Bath        2049 non-null   int64
 50  Half Bath        2049 non-null   int64
 51  Bedroom AbvGr    2049 non-null   int64
 52  Kitchen AbvGr    2049 non-null   int64
 53  Kitchen Qual     2049 non-null   object
 54  TotRms AbvGrd    2049 non-null   int64
 55  Functional       2049 non-null   object
 56  Fireplaces       2049 non-null   int64
 57  Fireplace Qu     1051 non-null   object
 58  Garage Type      1936 non-null   object
 59  Garage Yr Blt    1936 non-null   float64
 60  Garage Finish    1936 non-null   object
 61  Garage Cars      2049 non-null   float64
 62  Garage Area      2049 non-null   float64
 63  Garage Qual      1936 non-null   object
 64  Garage Cond      1936 non-null   object
 65  Paved Drive      2049 non-null   object
 66  Wood Deck SF     2049 non-null   int64
 67  Open Porch SF    2049 non-null   int64
 68  Enclosed Porch   2049 non-null   int64
 69  3Ssn Porch       2049 non-null   int64
 70  Screen Porch     2049 non-null   int64
 71  Pool Area        2049 non-null   int64
 72  Misc Val         2049 non-null   int64
 73  Mo Sold          2049 non-null   int64
 74  Yr Sold          2049 non-null   int64
 75  Sale Type        2049 non-null   object
 76  SalePrice        2049 non-null   int64
 77  Total_Full_Bath  2048 non-null   float64
 78  Square Footage   2049 non-null   float64
 79  Total Bedrooms   2049 non-null   int64
dtypes: float64(13), int64(29), object(38)
memory usage: 1.3+ MB

In [21]:
print("The total number of columns that have null values:", np.count_nonzero(ames_train.isnull().sum()))

The total number of columns that have null values: 17

In [22]:
ames_train.shape

(2049, 80)

In [23]:
train_null = pd.DataFrame(ames_train.isnull().sum().sort_values(ascending = False))
train_null.columns = ['Count']
train_null.head(22)

                 Count
Fireplace Qu       998
Lot Frontage       330
Garage Yr Blt      113
Garage Type        113
Garage Finish      113
Garage Qual        113
Garage Cond        113
Bsmt Exposure       57
BsmtFin Type 2      55
Bsmt Qual           54
Bsmt Cond           54
BsmtFin Type 1      54
Mas Vnr Area        22
Mas Vnr Type        22
Bsmt Half Bath       1
Bsmt Full Bath       1
Total_Full_Bath      1
Kitchen Qual         0
Kitchen AbvGr        0
Bedroom AbvGr        0
Half Bath            0
Full Bath            0

In [131]:
# Dropping the columns with substantially large null values. These columns won't have any informational insight with a majority of the values aren't there 

ames_train.drop(['Pool QC', 'Misc Feature', 'Alley', 'Fence'], axis = 1, inplace=True)

In [24]:
train_null = pd.DataFrame(ames_train.isnull().sum().sort_values(ascending = False))
train_null.columns = ['Count']
train_null.head(30)

                 Count
Fireplace Qu       998
Lot Frontage       330
Garage Yr Blt      113
Garage Type        113
Garage Finish      113
Garage Qual        113
Garage Cond        113
Bsmt Exposure       57
BsmtFin Type 2      55
Bsmt Qual           54
Bsmt Cond           54
BsmtFin Type 1      54
Mas Vnr Area        22
Mas Vnr Type        22
Bsmt Half Bath       1
Bsmt Full Bath       1
Total_Full_Bath      1
Kitchen Qual         0
Kitchen AbvGr        0
Bedroom AbvGr        0
Half Bath            0
Full Bath            0
TotRms AbvGrd        0
Functional           0
Fireplaces           0
Gr Liv Area          0
Id                   0
2nd Flr SF           0
Pool Area            0
Square Footage       0

# EDA Exploratory Data Analysis

In [133]:
ames_train['SalePrice'].mean()

181469.70160897123

In [134]:
ames_train['SalePrice'].median()

162500.0

In [135]:
ames_train.corr()[['SalePrice']].sort_values(by= 'SalePrice', ascending = False)

/var/folders/gz/cvs186n92z9_zs5h7yb_r5hw0000gn/T/ipykernel_2030/1591803829.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  ames_train.corr()[['SalePrice']].sort_values(by= 'SalePrice', ascending = False)

                 SalePrice
SalePrice         1.000000
Overall Qual      0.800207
Gr Liv Area       0.697038
Garage Area       0.650270
Garage Cars       0.648220
Total Bsmt SF     0.628925
1st Flr SF        0.618486
Year Built        0.571849
Year Remod/Add    0.550370
Full Bath         0.537969
Garage Yr Blt     0.533922
Mas Vnr Area      0.512230
TotRms AbvGrd     0.504014
Fireplaces        0.471093
BsmtFin SF 1      0.423519
Lot Frontage      0.341842
Open Porch SF     0.333476
Wood Deck SF      0.326490
Lot Area          0.296566
Bsmt Full Bath    0.283662
Half Bath         0.283001
2nd Flr SF        0.248452
Bsmt Unf SF       0.190210
Bedroom AbvGr     0.137067
Screen Porch      0.134581
3Ssn Porch        0.048732
Mo Sold           0.032735
Pool Area         0.023106
BsmtFin SF 2      0.016255
Misc Val         -0.007375
Yr Sold          -0.015203
Low Qual Fin SF  -0.041594
Bsmt Half Bath   -0.045328
Id               -0.051398
MS SubClass      -0.087335
Overall Cond     -0.097019
Kitchen AbvGr    -0.125444
Enclosed Porch   -0.135656
PID              -0.255052

In [136]:
ames_train['Garage Area'].sort_values()

1519       0.0
409        0.0
951        0.0
426        0.0
824        0.0
         ...
1293    1314.0
1158    1348.0
337     1356.0
960     1418.0
1712       NaN
Name: Garage Area, Length: 2051, dtype: float64

In [137]:
#These values have a good enough correlation to possibly be included as our features, so we would clean it up so they don't have that 1 to 2 null values 
ames_train.dropna(subset=['Garage Area', 'Garage Cars', 'Total Bsmt SF', 'BsmtFin SF 1'], inplace=True)

In [138]:
ames_train['Garage Area'].sort_values()

1376       0.0
1893       0.0
101        0.0
700        0.0
103        0.0
         ...
1557    1231.0
1293    1314.0
1158    1348.0
337     1356.0
960     1418.0
Name: Garage Area, Length: 2049, dtype: float64

In [139]:
#Saving cleaned file 
ames_train.to_csv('./datasets/train.csv', index = False)